{% extends "base.html.twig" %}
{% block title %}Thank You{% endblock %}
{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container" style="text-align:center;">
			<h1 class="display-4">Gracias!</h1>
			<p class="lead">Gracias por haber contactado con nosotros</p>
		</div>
	</div>
{% endblock %}
